@charset "UTF-8";
/* CSS Document */
body{
    color: #000;
    font-size: 16px;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
    line-height: 1.5;
    background: #fff;
	-webkit-text-sixe-adjust:100%;
}

img{
    vertical-align: bottom;
}

.inner{
   width: calc(300/375*100vw);
   margin: 0 auto; 
   position: relative;
   z-index: 3;
}

#nav_area{
    height: 60px;
    width: 100vw;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 11;
}

/*ハンバーガーメニュー*/
.btn_hamburger{
    width: 45px;
    height: 30px;
    position: fixed;
    z-index: 12;
    top: 15px;
    left: calc(315/375*100vw);
    display: block;
    cursor: pointer;
}

.btn_hamburger .line{
    position: absolute;
    width: 45px;
    height: 1px;
    background: #81c3df;
    transition: all 0.3s ease-out;
}

.line_01{
   top: 0;
}

.line_02{
   top: 15px;
}

.line_03{
    top: 30px;
}

/*ハンバーガーメニューの回転*/
.btn_hamburger.is-active .line_01{
    top: 15px;
    transform: rotate(45deg);
}

.btn_hamburger.is-active .line_02{
    opacity: 0;
}

.btn_hamburger.is-active .line_03{
    top: 15px;
    transform: rotate(135deg);
}


nav{
    position: absolute;
    z-index: 11;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: rgba(255,255,255,0.9);
    opacity: 0;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

nav ul{
    padding-top: 75px;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    color: #000;
    font-size: 40px;
    font-family: adobe-handwriting-ernie;
}

nav.is-active{
    opacity: 1;
    pointer-events: auto;
}

#top_button{
    display: none;
    position: fixed;
    z-index: 11;
    bottom: 40px;
    right: calc(15/375*100vw);
    width: 45px;
    background: #000;
    opacity: 0.5;
    border-radius: 22.5px;
    text-align: center;
}

#top_button a{
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 45px;
}

#top_button:hover{
    opacity: 1;
    transition: opacity 0.3s ease-out; 
}

#top_main{
    margin-top: 60px;
    position: relative;
}

#top_main img{
    width: 100vw;
    height: auto;
}

#top_main h1 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 74.67%;
    height: auto;
}

main article{
    padding: 45px 0 30px;
    position: relative;
}

main article::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("../img/introduction-back.jpg") center no-repeat ;
    background-size: cover;
    background-position: center;
}


main article::after{
    content: '';
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.another::before{
    background: url("../img/staff-back.jpg") center no-repeat ;
}

main article h2{
    font-size: calc(40/16*100%);
    font-family: adobe-handwriting-ernie;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

main article:nth-child(odd) h2{
    border-bottom: 1px solid #81c3df;
}

#ticket_schedule h2{
    font-size: calc(30/16*100%);
}

main article h2 span{
    display: block;
    font-size: calc(10/40*100%);
    line-height: 1;
}

#story{ 
    position: relative;
}

#story::after{
    content: '';
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#story h2{
    letter-spacing: 0.12em;
}

#story h2 span{
    letter-spacing: normal;
}

#cast section{
    margin-bottom: 30px;
}

#cast section:last-child{
    margin-bottom: 0;
}

.cast_rs section picture{
    display: block;
    width: 300px;
    margin: 0 auto 15px;
}

.cast_intro{
    width: calc(300/375*100vw);
    text-align: center;
    font-size: 16px;
}

.cast_intro h1{
    font-size: calc(20/16*100%);
    font-family: adobe-handwriting-ernie;
}

.cast_rs{
    margin-bottom: 30px;
}

#other_cast ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#other_cast ul li{
    width: 50%;
    text-align: center;
}

#staff{
    position: relative;
}

#staff::after{
    content: '';
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

#staff section ul li{
    text-align: center;
}

#ticket_schedule section{
    margin-bottom: 15px;
}

#ticket_schedule section:last-of-type{
    margin-bottom: 0;
}

#ticket_schedule section h1{
    font-size: 16px;
}

#ticket_schedule section p{
    font-size: 20px;
    text-align: center;
}

#ticket_schedule section p:first-of-type{
    padding-top: 15px;
}
    
#ticket_schedule section p:last-of-type{
    padding-bottom: 15px;
}

#ticket_schedule section:last-of-type p{
    padding-bottom: 0;
}
#ticket_schedule p a{
	text-decoration: none;
	color: #81c3df;
}

#ticket_schedule p a:hover{
	color: #df9d81;
}

#ticket_schedule section:first-of-type p:nth-of-type(2),#ticket_schedule section:nth-of-type(3) p:nth-of-type(3), #ticket_schedule section:last-of-type p:nth-of-type(2){
    font-size: 14px;
    text-align: center;
}

table{
    font-size: 14px;
    line-height: 1;
    text-align: center;
    margin: 15px auto 30px;
}

table td,table th{
    width: 40px;
    padding: 8px 0;
    border: 1px solid #e6e6e6;
}

table th{
    width: 80px;
}

#day td{
    color: #fff;
}

#day td:first-of-type{
    background: #aeaeae;
}

#day td:nth-of-type(2){
    background: #81c3df;
}

#day td:last-of-type{
    background: #df9d81;
}

#ticket p:first-of-type{
    color:#df9d81;
}

#ticket p:nth-of-type(2){
    color: #81c3df;
}

.button{
    display: block;
    text-decoration: none;
    width:160px;
    margin: 15px auto;
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    background: #81c9d3;
    border-radius: 30px;
    transition: all 0.3s ease-out;
}

.button:hover{
    background: #df9d81;
}

footer{
    background: #81c3df;
    text-align: center;
    padding: 18px 0;
}

footer small{
    font-size: 10px;
}

/*チケット申込みページ*/
#contact_page main article::before{
    content: none;
}

#sub-visual img{
    margin-top: 60px;
    width: 100vw;
    height: calc(800/2400*100vw);
}

#contact_page article{
    padding-top: 30px;
}
#contact_page article section{
    text-align: center;
}

#contact_page article section h1{
    font-size: calc(32/16*100%);
    margin-bottom: 15px;
}

#contact_page article section dl{
    margin-bottom: 30px;
}

#contact_page article section dl dt{
    font-size: calc(20/16*100%);
    margin-bottom: 10px;
}

#contact_page article section dl dd{
    margin-bottom: 15px;
}


.formbox{
    width: 240px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
}

select{
    height: 30px;
    text-align: center;
    border: 1px solid #e6e6e6;
}

input[type="submit"], input[type="button"]{
    display: block;
    width: 200px;
    height: 45px;
    border: 1px solid #e6e6e6;
    background: #e6e6e6;
    margin: 0 auto;
}

input[type="button"]{
    margin-bottom: 15px;
}

input[type="submit"]:hover, input[type="button"]:hover{
    background: #81c3df;
    transition: all 0.3s ease-out;
}

/*タブレット用*/

@media screen and (min-width:600px){
    .inner{
        width: 600px;  
        margin: 0 auto;
    }
    
    .btn_hamburger{
        display: none;
    }
    
    nav{
        position: relative;
        z-index: 11;
        width: auto;
        height: auto;
        opacity: 1;
        background: #fff;
        pointer-events: auto;
    }
    
    nav ul{
        display: flex;
        padding: 0;
        text-align: center;
    }
    
    nav ul li a{
        display: block;
        width: calc(1/6*100vw);
        font-size: 20px;
        line-height: 60px;
        margin: 0 auto;
        color: #000;
    }
    
    nav ul li:nth-of-type(2) a{
        font-size: 16px;
    }
    
    nav ul li:last-of-type a{
        font-size: 12px;
    }
    
    nav ul li a:hover{
        color: #fff;
        background: #81c3df;
        transition: all 0.3s ease-out;
    }
    
    #top_main h1 img{
        width: 56.25%;
    }

    #introduction p, #story p,#staff p{
        padding: 0 30px;  
    }
    
    .cast_rs{
        display: flex;
        justify-content: space-between;
    }
    
    .cast_rs section{
        width: 300px;
    }
    
    .cast_intro{
        width: 240px;
        margin: 0 auto;
    }
    
    
    #other_cast{
        width: 600px;
    }
    
    #other_cast ul{
      justify-content: space-around;  
    }
     
    #other_cast ul li{
        width: 33.3%;
    }
    
    #contact_page article section dl{
        text-align: start;
    }
    
    #contact_page article section dl dt{
        margin-bottom: 15px;
    }
    
    #contact_page article section dl dd{
        margin: -2.8em 0 15px 360px;
    }
    
    #button_box{
        display: flex;
        justify-content: space-between;
    }
    
    input[type="button"]{
        margin-bottom: 0;
    }
    
    #ticket_schedule section h1{
        padding-left: 45px;
    }
    
    table{
        font-size: 21px;
    }

    table td,table th{
        width: 60px;
        padding:12px 0;
        border: 1px solid #e6e6e6;
    }

    table th{
        width: 120px;
    }
}


/*PC用*/
@media screen and (min-width:960px){
    .inner{
        width: 900px;  
        margin: 0 auto;
    }
    
    .btn_hamburger{
        display: none;
    }
    
    main article h2{
        margin-bottom: 30px;
    }
    
    #introduction p, #story p,#staff p{
        padding: 0 45px;  
    }
    
    #ticket_schedule section p{
        font-size: 24px;
    }
    
    #cast section{
        display: flex;
        justify-content: space-between;
    }
    .cast_rs{
        display: flex;
        justify-content: space-between;
    }
    
    .cast_rs section{
        width: 450px;
    }
    
    .cast_rs section picture{
          width: 195px;
          margin: 0;
    }
    
    .cast_intro{
        width: 225px;
        margin: 0;
        padding-right: 15px;
    }
    
    #other_cast{
        width: 900px;
    }
    
    #other_cast ul li{
        width: 25%;
    }
    
    .formbox{
        width: 360px;
    }
    
    #contact_page article section dl dd{
        margin-left: 540px;
    }
    
    #ticket_schedule section h1{
        padding-left: 90px;
    }
}